:root {
    --main-size: 1fr;
    --font-size-p: 1.4em;
    --average-container-w: min(65em, 80%);
    --small-color: #e0e1dd;
    --degree-l: 135deg;
    --font-size-h: 1.8em;
    --font-size-min: 1em;
    --blob-size: 540px;

/*Admin container*/
    --admin-color-a1: #4040a1;
    --admin-color-a2: #36486b;

}
@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px var(--main-size) auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    margin: 0;
    padding: 0;
    min-height: 100vh;
} body::after, body::before {
    content: '';
width: 100%;
height: 100%;
position: fixed;
background: #534d75;
background: radial-gradient(rgba(13, 27, 42,.8), rgba(27, 58, 87,.8)); /*Translated from:  #0d1b2a then #1b3a57*/
z-index: -5;
} body::before {background: radial-gradient(#0d1b2a, #1b3a57);}
/*header, main, footer {border: 2px solid;} Thisis an old structure when I first started the web design structure*/
header {margin: 0; padding: 0; background: #0d1b2a;}
header h3 {margin: .8em 1em; padding: 0; font-family: segue UI, sans-serif; font-size: var(--font-size-min); color: var(--small-color); align-self: center; display: inline-block; height: auto; } 
header #admin { font-family: arial; font-weight: lighter; color: #ffff; font-size: var(--font-size-min);}

main {display: flex; flex-direction: column; align-items: center; font-size: var(--font-size-p);}
.homepage h4{color: #e0e1dd; text-shadow: 2px 2px 2px black; font-family: arial; font-size: var(--font-size-h); text-align: center;}
.admin-container {
    position: relative;
    display: flex; flex-direction: column;
    margin: var(--font-size-min) 0; text-align: center;
    width: var(--average-container-w);
    height: auto;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(180deg, #0d1b2a, #1b3a57);
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
}
.menu {position: relative; display: flex; flex-direction: column;} .menu a{z-index: 2;}
/*.admin-container - Is et to universal hyperlink hover instead: */ 
.admin-container a:hover{translate: 0 -1px; animation:ease-in-out infinite 3s link; color: white;}
.admin-container a{position: relative; margin: 5px 0; text-decoration: none; background: linear-gradient(var(--degree-l),var(--admin-color-a1), var(--admin-color-a2)); color: var(--small-color); padding: .4em; box-shadow: 2px 2px 5px black;} 

.admin-container p{color: #e0e1dd; font-size: var(--font-size-min);}
.admin-container h4{color: #e0e1dd; font-family: system-ui, sans-serif, arial;  font-size: var(--font-size-min);}
/*VIEW PAGE*/
.view-container table{color: var(--small-color); font-size: var(--font-size-min); background: #1b3a57; border-collapse: collapse;} 
.view-container {margin: 8px;}
.view-container h4{color: #e0e1dd; text-shadow: 2px 2px 2px black; font-family: arial; font-size: var(--font-size-h);}
/*VIEW PAGE END*/
/*UPDATE PAGE*/
.update-container h4{color: #e0e1dd; text-shadow: 2px 2px 2px black; font-family: arial; font-size: var(--font-size-h);}
.update-container h3{color: #778da9; font-size: var(--font-size-h);}
/*UPDATE PAGE END*/
.admin-container::after, .admin-container::before {
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), red, green, blue, red);
    position: absolute;
    z-index: -2;
    padding: 4px;
    border-radius: 5px;
    animation: spin 6s linear infinite;
    animation-play-state: running;
}
/*DELETE PAGE*/
.delete-container h4{color: #e0e1dd; text-shadow: 2px 2px 2px black; font-family: arial; font-size: var(--font-size-h);}
.delete-container h3{color: #778da9; font-size: var(--font-size-h);}

.admin-container:hover::before {filter: blur(1.5rem);}

@keyframes spin{from{--angle: 0deg;}to{--angle: 360deg;}} @keyframes link{from{--degree-l: 0deg;}to{--degree-l: 135deg;}}

/*More web responsiveness, When screen size is 600 or like phone this happens to fix overlap sh!ts*/
@media (width < 600px) {
    
    :root {
        --font-size-p: 1em;
        --font-size-h: 1.4em;
        --font-size-min: .9em;
        --blob-size: 140px;
    }
}

footer{background:#0d1b2a; color: #e0e1dd; position: static; padding: 4px; float: inline-end;} 
footer #rights{text-align: center;}
footer p{margin: 0 1.5em;} 
footer a{color: #778da9;} footer a:hover{color: #415a77;}

/*UNIVERSAL BUTTON*/
button {position: relative; margin: 5px 1em;margin-top: 2em; padding: 8px; border: none; border-radius: 6px; cursor: pointer; font-size: .7em; background: linear-gradient(135deg, #415a77, #1b3a57); color: #e0e1dd;} 
button:hover {translate: 0 -2px; background: linear-gradient(135deg, #778da9, #415a77); color: #e0e1dd;}
button::after {content: ''; width: 100%; height: 100%; background: red; position: relative;}
/*UNIVERSAL BUTTON END*/
/*UNIVERSAL HYPERLINK START*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; /*Remove to lessen human errors */
    padding: 5px;
    margin: 0;
}
input[type='text'],input[type='number']
{height: var(--font-size-h); border: none; border-radius: 2px; font-size: var(--font-size-min); padding: 5px; background: transparent; border: 2px solid grey; color: var(--small-color);}

#minute{padding: 0; margin: 0 5px; color: #e0e1dd; border: none; background: none; box-shadow: none;} 

/*DELETE CONFIRM FINALLY Z-index of overlay is 5, z-idnx of deleteconfirm is 6*/
.overlay{display: none; position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, .6); z-index: 5;}
.delete-confirm {display: none; position: fixed; top: 50%; left: 50%; translate: -50% -50%; width: 30%; height: 30%; background: #1b3a57; z-index: 6; box-shadow: 2px 2px 5px;}
/*BIG BLOB(s)*/
.blob:nth-child(1) {--angle-delay: -0s; --moving-delay: -0s; --color: #aaff00;}
.blob:nth-child(2) {--angle-delay: -6s; --moving-delay: -4s; --color: #686868;}
.blob:nth-child(3) {--angle-delay: -12s; --moving-delay: -8s; --color: #0059ff;}
.blob:nth-child(4) {--angle-delay: -9s; --moving-delay: -6s; --color: #ff0000;}
.blob {position: fixed; top:600px; z-index: -5; animation: angle 15s var(--angle-delay) infinite linear} 
.blob::after {
    content: "";
    position: absolute; 
    left: 50%;
    width: var(--blob-size);
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: blur(50px);
    background-color: var(--color);
    animation: moving 10s var(--moving-delay) infinite ease-in-out alternate;
}
@keyframes angle{
    from{transform: rotate(0deg); to{transform: rotate(360deg);}}
}
@keyframes moving{
    from{transform: translate(-50%, -150%); to{transform: translate(-50%, 50%)}}
}



/*
========
CREDITS
========
https://www.youtube.com/watch?v=vncedoji24M - Blobs
https://www.w3schools.com/colors/colors_palettes.asp - Color pallete
https://cssgradient.io/blog/how-to-create-a-gradient-background/ - Radial gradient non-anim
https://www.flaticon.com/search?word=philippine%20flag - Philippine icon

*/